<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Student Dashboard | EduPlatform</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="sidebar">
    <div class="profile">
        <div >
        <img src="../static/profile_pic.webp" alt="Profile Picture" class="profile-pic">
        </div>
      <h2 class="username">John Doe</h2>
      <p class="role">Student</p>
    </div>
    <div class="progress">
      <h3>Progress</h3>
    </div>
  </div>

  <div class="main-content">
    <div class="headers">
      <h2>Welcome back, John!</h2>
      
      <div class="options">
        <div class="option-item">🔥 Daily Quest</div>
        <div class="option-item">🧠 Quiz of the Day</div>
        <div class="option-item">🏆 Achievements</div>
        <div class="option-item">⭐ Bookmarks</div>
      </div>
    </div>
    <div class="lessons">
      <div class="lesson-card" id="c1">
        
        <h3>Math - Algebra Basics</h3>
        <button id="l1">Resume</button>
      </div>
      <div class="lesson-card" id="c2">
        <h3>Science - Biology</h3>
        <button id="l2">Start</button>
      </div>
    </div>
  </div>
</body>
</html>
